



<style>

.shopify-section:after {
  content: "";
  display: table;
  clear: both;
}

.carousl-wrapper {
  width: 100%;
  display: block;
  padding-bottom: 54px;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  padding-top: 54px;
  /*margin-top: 100px;*/
}

.brand-carousl {
  width: 100%;
  display: block;
  padding: 0px !important;
}

.brand-carousl .brand-item {
  padding: 0px 20px;
  text-align: center;
  width: 200px;
}

@media screen and (min-width: 990px) {
  .brand-carousl .brand-item img {
    max-height: 100%;
    height: auto;
    max-width: 180px;
    object-fit: contain;
    display: inline-block;
  }
}

@media screen and (max-width: 989px) {
  .brand-carousl .brand-item img {
    display: inline-block;
    max-width: 80%;
    max-height: 100%;
    object-fit: contain;
  }

  .brand-carousl {
    padding: 0px 20px !important;
  }

  .brand-carousl .brand-item {
    padding: 0px 0px;
    text-align: center;
    max-width: 100%;
  }

  .brand-section-title.text-center {
    text-align: left !important;
  }

  .carousl-wrapper {
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 22px;
  }
}

.brand-carousl .brand-item a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #212121 !important;
}

.brand-carousl .slick-track {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
}

.brand-carousl .slick-arrow {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 9;
}

.brand-carousl .slick-arrow img {
  width: 10px;
}

.brand-carousl .slick-arrow.arrow-left {
  left: 0;
}

.brand-carousl .slick-arrow.arrow-right {
  right: 0;
}

</style>


<div id="shopify-section-1634139591ab1df8ad" class="shopify-section">
<div class="carousl-wrapper">
  <section class="containwith-image common-space">
    
    
    
    <div class="brand-carousl slick-initialized slick-slider"><div class="slick-arrow arrow-left" style="display: block;"><img src="//dossier.co/cdn/shop/t/1185/assets/angle-left.svg?v=53672727868888068891701195311" alt="arrow"></div>
      
    <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 6336px; transform: translate3d(-1440px, 0px, 0px);"><div class="brand-item slick-slide slick-cloned"   tabindex="-1" data-slick-index="-4" aria-hidden="true">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/insidehook.svg?v=181847402434017243081701195316" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned"   tabindex="-1" data-slick-index="-3" aria-hidden="true">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/ad.svg?v=159925524781834544031701195324" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned"   tabindex="-1" data-slick-index="-2" aria-hidden="true">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/msn.svg?v=53052183606970369461701195314" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned"   tabindex="-1" data-slick-index="-1" aria-hidden="true">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/apartment-therapy.svg?v=159223528412034835111701195314" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide"   tabindex="-1" data-slick-index="0" aria-hidden="true">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/teenvogue.svg?v=91562724923349695591701195317" title="Dossier Brand" class="lazyloaded" src="//dossier.co/cdn/shop/t/1185/assets/teenvogue.svg?v=91562724923349695591701195317">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-current slick-active"   tabindex="0" data-slick-index="1" aria-hidden="false">
        <a href="javascript:void(0)" tabindex="0">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/insta.svg?v=54000366059693149671701195312" title="Dossier Brand" class="lazyloaded" src="//dossier.co/cdn/shop/t/1185/assets/insta.svg?v=54000366059693149671701195312">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-active"   tabindex="0" data-slick-index="2" aria-hidden="false">
        <a href="javascript:void(0)" tabindex="0">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/buzzfeed.svg?v=139766232312705500921701195315" title="Dossier Brand" class="lazyloaded" src="//dossier.co/cdn/shop/t/1185/assets/buzzfeed.svg?v=139766232312705500921701195315">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-active"   tabindex="0" data-slick-index="3" aria-hidden="false">
        <a href="javascript:void(0)" tabindex="0">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/fashionista.svg?v=95667310007146456991701195311" title="Dossier Brand" class="lazyloaded" src="//dossier.co/cdn/shop/t/1185/assets/fashionista.svg?v=95667310007146456991701195311">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-active"   tabindex="0" data-slick-index="4" aria-hidden="false">
        <a href="javascript:void(0)" tabindex="0">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/et.svg?v=43591673953787511941701195313" title="Dossier Brand" class="lazyloaded" src="//dossier.co/cdn/shop/t/1185/assets/et.svg?v=43591673953787511941701195313">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide"   tabindex="-1" data-slick-index="5" aria-hidden="true">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/insidehook.svg?v=181847402434017243081701195316" title="Dossier Brand" class="lazyloaded" src="//dossier.co/cdn/shop/t/1185/assets/insidehook.svg?v=181847402434017243081701195316">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide"   tabindex="-1" data-slick-index="6" aria-hidden="true">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/ad.svg?v=159925524781834544031701195324" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide"   tabindex="-1" data-slick-index="7" aria-hidden="true">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/msn.svg?v=53052183606970369461701195314" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide"   tabindex="-1" data-slick-index="8" aria-hidden="true">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/apartment-therapy.svg?v=159223528412034835111701195314" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned"   tabindex="-1" data-slick-index="9" aria-hidden="true">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/teenvogue.svg?v=91562724923349695591701195317" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned"   tabindex="-1" data-slick-index="10" aria-hidden="true">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/insta.svg?v=54000366059693149671701195312" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned"   tabindex="-1" data-slick-index="11" aria-hidden="true">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/buzzfeed.svg?v=139766232312705500921701195315" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned"   tabindex="-1" data-slick-index="12" aria-hidden="true">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/fashionista.svg?v=95667310007146456991701195311" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned"   tabindex="-1" data-slick-index="13" aria-hidden="true">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/et.svg?v=43591673953787511941701195313" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned"   tabindex="-1" data-slick-index="14" aria-hidden="true">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/insidehook.svg?v=181847402434017243081701195316" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned"   tabindex="-1" data-slick-index="15" aria-hidden="true">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/ad.svg?v=159925524781834544031701195324" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned"   tabindex="-1" data-slick-index="16" aria-hidden="true">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/msn.svg?v=53052183606970369461701195314" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned"   tabindex="-1" data-slick-index="17" aria-hidden="true">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img src="//dossier.co/cdn/shop/t/1185/assets/apartment-therapy.svg?v=159223528412034835111701195314" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div></div></div><div class="slick-arrow arrow-right" style="display: block;"><img src="//dossier.co/cdn/shop/t/1185/assets/angle-right.svg?v=164853121399329597331701195313" alt="arrow"></div></div>
  </section>
</div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<script>
  $(document).ready(function(){
    $('.brand-carousl').slick({
      // Slick Carousel settings go here
      infinite: true,
      slidesToShow: 4,
      slidesToScroll: 1,
      // Add any other settings you need
    });
  });
</script>