
 <style>
        /* Styling for the logo container and logos */
        {# #logo-slider {
            width: 80%; /* Adjust the width as needed */
            margin: auto;
            overflow: hidden;
        }

        #logo-container {
            display: flex;
            transition: transform 0.5s ease;
        }

        .logo {
            width: 100px; /* Adjust the width of your logos */
            height: 100px; /* Adjust the height of your logos */
            margin: 0 10px;
        }

        /* Navigation buttons styling */
        #prev, #next {
            cursor: pointer;
            font-size: 24px;
            margin-top: 40px;
        }
 #}


body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}


        .carousl-wrapper {
  width: 100%;
  display: block;
  padding-bottom: 54px;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  padding-top: 54px;
  /*margin-top: 100px;*/
}

.brand-carousl {
  width: 100%;
  display: block;
  padding: 0px !important;
}

.brand-carousl .brand-item {
  padding: 0px 20px;
  text-align: center;
}

@media screen and (min-width: 990px) {
  .brand-carousl .brand-item img {
    max-height: 100%;
    height: auto;
    max-width: 180px;
    object-fit: contain;
    display: inline-block;
  }
}

@media screen and (max-width: 989px) {
  .brand-carousl .brand-item img {
    display: inline-block;
    max-width: 80%;
    max-height: 100%;
    object-fit: contain;
  }

  .brand-carousl {
    padding: 0px 20px !important;
  }

  .brand-carousl .brand-item {
    padding: 0px 0px;
    text-align: center;
    max-width: 100%;
  }

  .brand-section-title.text-center {
    text-align: left !important;
  }

  .carousl-wrapper {
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 22px;
  }
}

.brand-carousl .brand-item a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #212121 !important;
}

.brand-carousl .slick-track {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
}

.brand-carousl .slick-arrow {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 9;
}

.brand-carousl .slick-arrow img {
  width: 10px;
}

.brand-carousl .slick-arrow.arrow-left {
  left: 0;
}

.brand-carousl .slick-arrow.arrow-right {
  right: 0;
}

    </style>


{# <div id="logo-slider">
    <div id="logo-container">
        <!-- Add your logos here -->
        <img class="logo" src="https://cdn.salla.network/images/sbc.png?v=2.0.3" alt="Logo 1">
        <img class="logo" src="https://cdn.salla.network/images/sbc.png?v=2.0.3" alt="Logo 2">
        <img class="logo" src="https://cdn.salla.network/images/sbc.png?v=2.0.3" alt="Logo 3">
        <!-- Add more logos as needed -->
    </div>
</div>





<!-- Navigation buttons -->
<div id="prev">&lt;</div>
<div id="next">&gt;</div> #}

<div id="shopify-section-1634139591ab1df8ad" class="shopify-section">
<div class="carousl-wrapper">
  <section class="containwith-image common-space">
    
    
    
    <div class="brand-carousl slick-initialized slick-slider"><div class="slick-arrow arrow-left" style="display: block;"><img src="//dossier.co/cdn/shop/t/1185/assets/angle-left.svg?v=53672727868888068891701195311" alt="arrow"></div>
      
      <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 6336px; transform: translate3d(-1152px, 0px, 0px);"><div class="brand-item slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" style="width: 288px;" tabindex="-1">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/insidehook.svg?v=181847402434017243081701195316" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" style="width: 288px;" tabindex="-1">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/ad.svg?v=159925524781834544031701195324" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 288px;" tabindex="-1">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/msn.svg?v=53052183606970369461701195314" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 288px;" tabindex="-1">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/apartment-therapy.svg?v=159223528412034835111701195314" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 288px;" tabindex="0">
        <a href="javascript:void(0)" tabindex="0">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/teenvogue.svg?v=91562724923349695591701195317" title="Dossier Brand" class="lazyloaded" src="//dossier.co/cdn/shop/t/1185/assets/teenvogue.svg?v=91562724923349695591701195317">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 288px;" tabindex="0">
        <a href="javascript:void(0)" tabindex="0">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/insta.svg?v=54000366059693149671701195312" title="Dossier Brand" class="lazyloaded" src="//dossier.co/cdn/shop/t/1185/assets/insta.svg?v=54000366059693149671701195312">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 288px;" tabindex="0">
        <a href="javascript:void(0)" tabindex="0">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/buzzfeed.svg?v=139766232312705500921701195315" title="Dossier Brand" class="lazyloaded" src="//dossier.co/cdn/shop/t/1185/assets/buzzfeed.svg?v=139766232312705500921701195315">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 288px;" tabindex="0">
        <a href="javascript:void(0)" tabindex="0">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/fashionista.svg?v=95667310007146456991701195311" title="Dossier Brand" class="lazyloaded" src="//dossier.co/cdn/shop/t/1185/assets/fashionista.svg?v=95667310007146456991701195311">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide" data-slick-index="4" aria-hidden="true" style="width: 288px;" tabindex="-1">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/et.svg?v=43591673953787511941701195313" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide" data-slick-index="5" aria-hidden="true" style="width: 288px;" tabindex="-1">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/insidehook.svg?v=181847402434017243081701195316" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide" data-slick-index="6" aria-hidden="true" style="width: 288px;" tabindex="-1">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/ad.svg?v=159925524781834544031701195324" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide" data-slick-index="7" aria-hidden="true" style="width: 288px;" tabindex="-1">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/msn.svg?v=53052183606970369461701195314" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide" data-slick-index="8" aria-hidden="true" style="width: 288px;" tabindex="-1">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/apartment-therapy.svg?v=159223528412034835111701195314" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" style="width: 288px;" tabindex="-1">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/teenvogue.svg?v=91562724923349695591701195317" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" style="width: 288px;" tabindex="-1">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/insta.svg?v=54000366059693149671701195312" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" style="width: 288px;" tabindex="-1">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/buzzfeed.svg?v=139766232312705500921701195315" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned" data-slick-index="12" aria-hidden="true" style="width: 288px;" tabindex="-1">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/fashionista.svg?v=95667310007146456991701195311" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned" data-slick-index="13" aria-hidden="true" style="width: 288px;" tabindex="-1">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/et.svg?v=43591673953787511941701195313" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned" data-slick-index="14" aria-hidden="true" style="width: 288px;" tabindex="-1">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/insidehook.svg?v=181847402434017243081701195316" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned" data-slick-index="15" aria-hidden="true" style="width: 288px;" tabindex="-1">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/ad.svg?v=159925524781834544031701195324" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned" data-slick-index="16" aria-hidden="true" style="width: 288px;" tabindex="-1">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/msn.svg?v=53052183606970369461701195314" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div><div class="brand-item slick-slide slick-cloned" data-slick-index="17" aria-hidden="true" style="width: 288px;" tabindex="-1">
        <a href="javascript:void(0)" tabindex="-1">
          
          <div class="brand-image">
          
          <img  src="//dossier.co/cdn/shop/t/1185/assets/apartment-therapy.svg?v=159223528412034835111701195314" title="Dossier Brand" class="lazyload">
          
          </div>
        </a>
      </div></div></div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    <div class="slick-arrow arrow-right" style="display: block;"><img src="//dossier.co/cdn/shop/t/1185/assets/angle-right.svg?v=164853121399329597331701195313" alt="arrow"></div></div>
  </section>
</div>







</div>


<script>
    $(document).ready(function () {
        // Variables
        var logoContainer = $('#logo-container');
        var logos = $('.logo');
        var logoWidth = logos.first().outerWidth(true);
        var logoCount = logos.length;
        var currentSlide = 0;

        // Set container width
        logoContainer.width(logoWidth * logoCount);

        // Previous button click event
        $('#prev').click(function () {
            if (currentSlide > 0) {
                currentSlide--;
            } else {
                currentSlide = logoCount - 1;
            }
            updateSlider();
        });

        // Next button click event
        $('#next').click(function () {
            if (currentSlide < logoCount - 1) {
                currentSlide++;
            } else {
                currentSlide = 0;
            }
            updateSlider();
        });

        // Function to update slider position
        function updateSlider() {
            var translateValue = -currentSlide * logoWidth;
            logoContainer.css('transform', 'translateX(' + translateValue + 'px)');
        }
    });
</script>


























{# <style>
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f2f2;
}

.slider-container {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
}

.slider-frame {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-items {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.slider-items img {
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 24px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
  transition: background 0.3s ease;
}

.arrow:hover {
  background: #555;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

</style>

<div class="slider-container">
  <button class="arrow prev">&#8249;</button>
  <div class="slider-frame">
    <div class="slider-items">
      <img src="https://cdn.salla.network/images/sbc.png?v=2.0.3" alt="Image 1">
      <img src="https://cdn.salla.network/images/sbc.png?v=2.0.3" alt="Image 2">
      <img src="https://cdn.salla.network/images/sbc.png?v=2.0.3" alt="Image 3">
      <!-- Add more images as needed -->
    </div>
  </div>
  <button class="arrow next">&#8250;</button>
</div>


<script>
$(document).ready(function() {
  let currentIndex = 0;
  let itemWidth = $('.slider-items img').width();

  function updateSlider() {
    const newPosition = -currentIndex * itemWidth;
    $('.slider-frame').css('transform', 'translateX(' + newPosition + 'px)');
  }

  function changeSlide(direction) {
    const totalItems = $('.slider-items img').length;
    currentIndex = (currentIndex + direction + totalItems) % totalItems;
    updateSlider();
  }

  $('.prev').click(function() {
    changeSlide(-1);
  });

  $('.next').click(function() {
    changeSlide(1);
  });

  // Initial update to set the correct position
  updateSlider();

  // Update the position on window resize
  $(window).resize(function() {
    itemWidth = $('.slider-items img').width();
    updateSlider();
  });
});


</script> #}