<style>
#logo-slider {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 65%;
  height: 9em;
  margin: auto;
  overflow: hidden;
}
  
  button.arrow {
    border: none;
  }

#logo-slider .arrow {
  cursor: pointer;
  position: absolute;
  width: 2em;
  height: 100%;
  padding: 0;
  margin: 0;
  outline: 0;
  background: transparent;
}

#logo-slider .arrow:hover {
  background: rgba(0, 0, 0, 0.1);
}

#logo-slider .arrow:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0.75em;
  height: 0.75em;
  margin: auto;
  border-style: solid;
}

#logo-slider .prev {
  left: 0;
  bottom: 0;
}

#logo-slider .prev:before {
  left: 0.25em;
  border-width: 3px 0 0 3px;
  border-color: #333 transparent transparent #333;
  transform: rotate(-45deg);
}

#logo-slider .next {
  right: 0;
  bottom: 0;
}

#logo-slider .next:before {
  right: 0.25em;
  border-width: 3px 3px 0 0;
  border-color: #333 #333 transparent transparent;
  transform: rotate(45deg);
}

#logo-slider .logo-slider-frame {
  position: absolute;
  top: 0;
  left: 2em;
  right: 2em;
  bottom: 0;
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  overflow: hidden;
}

#logo-slider .logo-slider-item {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25%;
  height: 100%;
}

#logo-slider .logo-slider-inset {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0.5em 0.25em;
  overflow: hidden;
}

@media ( max-width: 60em ) {
  #logo-slider .logo-slider-item {
    width: 33.33%;
  }
  #logo-slider {
    height: 10em;
  }
}

@media ( max-width: 45em ) {
  #logo-slider .logo-slider-item {
    width: 50%;
  }
  #logo-slider {
    height: 12em;
  }
}

@media ( max-width: 30em ) {
  #logo-slider .logo-slider-item {
    width: 100%;
  }
  #logo-slider {
    height: 12em;
  }
}
</style>

<div id="logo-slider">
  <button class='arrow prev'></button>
  <button class='arrow next'></button>
  <div class="logo-slider-frame">
    
    <div class="logo-slider-item">
      <div class="logo-slider-inset">
          <img src="http://www.synusie.de/images/codepen/partner/santander-allianz.png">
      </div>
    </div>

    <div class="logo-slider-item">
      <div class="logo-slider-inset">
          <img src="http://www.synusie.de/images/codepen/partner/allianz-targo.png">
      </div>
    </div>
 
    <div class="logo-slider-item">
      <div class="logo-slider-inset">
          <img src="http://www.synusie.de/images/codepen/partner/hypo-wuestenrot.png">
      </div>
    </div>    
    
    <div class="logo-slider-item">
      <div class="logo-slider-inset">
          <img src="http://www.synusie.de/images/codepen/partner/ing-dkb.png">
      </div>
    </div>

    <div class="logo-slider-item">
      <div class="logo-slider-inset">
          <img src="http://www.synusie.de/images/codepen/partner/creditplus-dsl.png">
      </div>
    </div>

    <div class="logo-slider-item">
      <div class="logo-slider-inset">
          <img src="http://www.synusie.de/images/codepen/partner/lbs-kfw.png">
      </div>
    </div>
    
    <div class="logo-slider-item">
      <div class="logo-slider-inset">
          <img src="http://www.synusie.de/images/codepen/partner/barclaycard-hanseatic.png">
      </div>
    </div>
    
    <div class="logo-slider-item">
      <div class="logo-slider-inset">
          <img src="http://www.synusie.de/images/codepen/partner/sparkasse-volksbank.png">
      </div>
    </div>
    
    <div class="logo-slider-item">
      <div class="logo-slider-inset">
          <img src="http://www.synusie.de/images/codepen/partner/cosmos-muenhyp.png">
      </div>
    </div>
    
    <div class="logo-slider-item">
      <div class="logo-slider-inset">
          <img src="http://www.synusie.de/images/codepen/partner/oyak-bhw.png">
      </div>
    </div> 

    <div class="logo-slider-item">
      <div class="logo-slider-inset">
          <img src="http://www.synusie.de/images/codepen/partner/creditlife-axa.png">
      </div>
    </div>
       
    <div class="logo-slider-item">
      <div class="logo-slider-inset">
          <img src="http://www.synusie.de/images/codepen/partner/ergo-sparda.png">
      </div>
    </div>
       
    <div class="logo-slider-item">
      <div class="logo-slider-inset">
          <img src="http://www.synusie.de/images/codepen/partner/bbbank-hannoversche.png">
      </div>
    </div>

    <div class="logo-slider-item">
      <div class="logo-slider-inset">
          <img src="http://www.synusie.de/images/codepen/partner/swiss-conti.png">
      </div>
    </div>

    <div class="logo-slider-item">
      <div class="logo-slider-inset">
          <img src="http://www.synusie.de/images/codepen/partner/signaliduna-volkswohlbund.png">
      </div>
    </div>



   
    
  </div>
</div>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>


  <script>
  function defer(method) {
  if (window.jQuery)
    method();
  else
    setTimeout(function() {
      defer(method)
    }, 50);
}
defer(function() {
  (function($) {
    
    function doneResizing() {
      var totalScroll = $('.logo-slider-frame').scrollLeft();
      var itemWidth = $('.logo-slider-item').width();
      var difference = totalScroll % itemWidth;
      if ( difference !== 0 ) {
        $('.logo-slider-frame').animate({
          scrollLeft: '-=' + difference
        }, 500, function() {
          checkArrows();
        });
      }
    }
    
    function checkArrows() {
      var totalWidth = $('#logo-slider .logo-slider-item').length * $('.logo-slider-item').width();
      var frameWidth = $('.logo-slider-frame').width();
      var itemWidth = $('.logo-slider-item').width();
      var totalScroll = $('.logo-slider-frame').scrollLeft();
      
     // if ( ((totalWidth - frameWidth) - totalScroll) < itemWidth ) {
     //   $(".next").css("visibility", "hidden");
     // }
     // else {
     //   $(".next").css("visibility", "visible");
     // }
     // if ( totalScroll < itemWidth ) {
     //   $(".prev").css("visibility", "hidden");
     // }
     // else {
     //   $(".prev").css("visibility", "visible");
     // }
    }
    
    $('.arrow').on('click', function() {
      var $this = $(this),
        width = $('.logo-slider-item').width(),
        speed = 500;
      if ($this.hasClass('prev')) {
        $('.logo-slider-frame').animate({
          scrollLeft: '-=' + width
        }, speed, function() {
          checkArrows();
        });
      } else if ($this.hasClass('next')) {
        $('.logo-slider-frame').animate({
          scrollLeft: '+=' + width
        }, speed, function() {
          checkArrows();
        });
      }
    });
    
    $(window).on("load resize", function() {
      checkArrows();
      $('#logo-slider .logo-slider-item').each(function(i) {
        var $this = $(this),
          left = $this.width() * i;
        $this.css({
          left: left
        })
      }); 
    }); 
    
    var resizeId;
    $(window).resize(function() {
        clearTimeout(resizeId);
        resizeId = setTimeout(doneResizing, 500);
    });
    
  })(jQuery);
});
  
  </script>
